@charset "UTF-8";
@font-face{
	font-family: 'FonteLogo';
	/* fonte que funcionaram foi a otf */
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
/* Estilisa toda a a'rea */
/* Barra de menu em posic,a'o absoluta */
body{
		/* background-color: white; */
		/* Todo o fundo do site com fundo branco */
		background-color: #dddddd;
		color: rgba(0, 0, 0, 1);
}
/* Difica'o contem todo o contu'do do corpo */
/* Problemas na interface div */
div#interface {
	width: 900px;
	/* interface com fundo branco */
	background-color: #ffffff;
	/* Margens do site */
	/* cima direita baixo esquerda */
	margin: -30px, auto, 0px, auto;
	/* deslocamentos: */
	/* lateral vertical espalhamento e cor */
	/* Na'o esta' fazendo efeito */
	/* na'o coloque entre virgulas resolvi o maldito problema */
	box-shadow: 0px 0px 10px black;
	/* configurando o espac,o interno do conteu'do */
	padding: 30px 10px 20px 10px;
}
/* Estilisa os para'grafos */
p{
	text-align: justify;
	text-indent: 50px;
}
/* posicionento do i'cone do o'culos no topo do  */
/* site */
header#cabecalho img#icone{
	position: absolute;
	/* posicionamento da imagem */
	left: 750px;
	top: 70px;
}
/* configuracao dos objetos que esta'o do cabec,alho */
header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background-image: url("../_imagens/glass-logo-peg.jpg");
}
/* O do Google Glass */
header#cabecalho h1{
	font-family: 'FonteLogo', sans-serif;
	/* Na'o funcionou pois na'o achei o url da fonte. */
	/* font-family: Arial, sans-serif; */
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 0px;
	margin-bottom: 0px;
	padding: 0px;
	margin-bottom: -3px;
}
/* A revoluc,a'o  do Google... */
head#cabecalho h2{
	font-family: Arial, sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: -1px;
}
/* Formatacao de imagem ou legenda */
/* Cria uma borda em torno da imagem */
figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}
/* Alterei o percentual porque estava ficando grande */
/* demais */
/* Imagem era pequena mas agora ocupa todo o quadro gerado
acima */
figure.foto-legenda img{
	/* Fica responsivo em relacao a pagina */
	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	/* Fundo */
	background-color: rgba(0,0,0,.4);
	/* Letra Branca */
	color: white;
	/* Borda ocupa toda a imgem */
	width: 100%;
	height: 100%;
	/* Espaco dentro da legenda */
	padding: 10px;
	/* Cria o box dentro da borda */
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/* Formatac,a'o do menu */
/* Deveria retirar as marcac,o'es de ponto do menu */
/* Na'o esta' funcionando */
nav#menu ul {
	position: absolute;
	/* alterac,a'o feita por mim */
	top: -2px;
	left: 250px;
	/* Cria um menu */
	list-style: none;
	/* Deixa em caixa alta */
	text-transform: uppercase;

}
/* Formatacao das listas */
nav#menu li {
	/* Deixa tudo na horizontal */
	display: inline-block;
	/* Cor de fundo cinsa */
	background-color: #dddddd;
	/* Prenchimento com espac,o */
	padding: 10px;
	/* Na'o esta' funcionando */
	margin: 2px;
	/* Compatibilidade entre navegadores antigos */
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}
/* Produzir efeito quando passar o mause */
/* Na'o funcionou direito */
/* Na'o funciou em alguma versaoes */
nav:menu li:hover {
	background-color: #606060;
}

/* Formatac,a'o dos ti'tulos */
nav#menu h1 {
	display: none;
}


nav#menu a{
	/* As letras ficam pretas */
	color: #000000;
	text-decoration: none;
}
/* Hover na'o esta' funcionando muito bem */
/* Mas dessa vez funcionou */
nav#menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}

/* Formatacao das colunas e rodape da do site */
section#corpo {
	display: block;
	/* estreita o conteudo do texto */
	width: 520px;
	/* Corpo vai para a esquerda */
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}
/* Formatar article */


/* ************* Tabela ************ */
/* Objeto Tabela */
table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
/* Objeto td */
table#tabelaspec td {
		border: 1px solid #606060;
		padding: 10px;
		text-align: center;
		vertical-align: middle;
}
/* Coluna da esquerda e coluna da direito */
/* Classes cd */
table#tabelaspec td.ce{
	/* coloracao cinza */
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}
/* Classe cd */
table#tabelaspec td.cd{
	/* coloracao um pouco clara */
	background-color: #cecece;
}

table#tabelaspec caption{
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}
/* Posicao das data marc/2013 */
table#tabelaspec caption span{
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral {
	display: block;
	width: 350px;
	float: right;
}
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}
footer#rodape p {
	text-align: center;
}
